#rounded1{
    background:lightblue;
    color:white;
    width: 200px;
    padding: 10px;
    height: 140px;
    border-radius: 50px;
}
#rounded2{
    background:orange;
    color:white;
    width: 200px;
    padding: 10px;
    height: 140px;
    border-radius: 70px;
}
#rounded3{
    background:pink;
    color:white;
    width: 200px;
    padding: 10px;
    height: 140px;
    border-radius: 50%;
}
img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}








a:hover {
    color:red;
    font-weight: bold;
}

a:active{
    color:green;
    font-weight: bold;
}
.myForm input:focus{
    background: pink;
    width: 300px;
}
.mylist li:first-child{
    color: green;
    font-weight: bold;
}
.mylist li:last-child{
    color: red;
    font-weight: bold;
}
.mylist li:nth-child(3n+3){
    color: orange;
    font-weight: bold;
}
.mylist li:nth-child(even){
    background: yellow;
    font-weight: bold;
}
.mylist li:nth-child(odd){
    background: grey;
    font-weight: bold;
}
/*odd홀수 even 짝수*/


.warpper {
    border: #000 1px solid;
    width: 600px;
    height: 400px;
    position: relative;
    left: 50px;
    top:100px;
}
/*내부모가 상대좌표를 쓰면 내 부모의 포지션 적용후 되는듯?*/
/*중복하면 가장아래에걸 사용*/
.inside{
    border: #ff0000 1px solid;
    width: 200px;
    height: 100px;
    position: absolute;
    top:20px;
    left:50px;
}